@font-face {
  font-family: Lumberjack;
  src: url('../fonts/Lumberjack.otf');
}

.nav {
  text-align: center;
}

.logo {
  width: 150px;
}

.pool {
  width: 1200px;
  margin: 50px auto;
  border: 5px solid black;
  background-color: aqua;
}

.lane {
  border-top: 5px dashed black;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100px;
  position: relative;
}

.lane-number {
  width: 10%;
  border-right: 5px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  text-align: center;
  font-family: Lumberjack;
  background-color: #e3e3e3;
}

.swim-lane {
  width: 100%;
  position: relative;
}

.swimmer {
  width: 100px;
  position: relative;
  transform: scale(-1, 1);
  transition: left 60s ease-out;
  left: 0;
}

.winner {
  transition: left 60s linear;
}

.second-1 {
  transition: left 62s linear;
}

.second-2 {
  transition: left 62s ease-in;
}

.scoreboard h2 {
  text-align: center;
  font-family: Lumberjack;
}

.scoreboard table {
  width: 300px;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
  font-family: Lumberjack;
  font-size: 23px;
}

.scoreboard table td {
  border: 1px solid black;
  padding: 3px;
}

.scoreboard table tr td:not(:first-child) {
  text-align: center;
}

.start-button {
  position: relative;
  width: 1200px;
  margin: auto;
}

.start-button button {
  position: absolute;
  width: 120px;
  padding: 10px;
  font-size: 23px;
  font-family: Lumberjack;
  top: -20px;
  left: -5px;
  cursor: pointer;
}

.numbers {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  top: 0;
  display: none;
  font-family: Lumberjack;
}

.numbers div {
  font-size: 500px;
  margin-top: 150px;
  opacity: 1;
  transition: opacity 1s, font-size 1s;
}

.numbers div.show {
  transition: opacity 1s, font-size 1s;
  display: block;
  opacity: 0;
  font-size: 300px;
}

.numbers div.hide {
  display: none;
}

.celebrate {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  font-family: Lumberjack;
  font-size: 100px;
  top: 0;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: white;
}

.celebrate img {
  position: relative;
  width: 50%;
}

.celebrate.show {
  display: block;
}

.celebrate div {
  width: 35%;
  text-align: center;
  top: 45%;
  position: absolute;
  display: inline-block;
}