@font-face {
  font-family: Lumberjack;
  src: url('../fonts/Lumberjack.otf');
}

body {
  font-family: Lumberjack;
}

.nav {
  text-align: center;
}

.logo {
  width: 150px;
}

.map-container {
  width: 100%;
  margin: 30px auto;
  position: relative;
  text-align: center;
  z-index: 1;
}

.map {
  width: 1495px;
  height: 896px;
  margin: auto;
  border: 3px solid #673810;
  border-radius: 5px;
}

.hikers .hiker {
  offset-path: url(#trailpath);
  width: auto;
  height: 125px;
  transform-box: fill-box;
  position: absolute;
  offset-rotate: auto;
  animation-fill-mode: forwards;
  content: initial;
  transition: offset-rotate 0.25s linear;
}

.hikers .hiker.move {
  animation: var(--animationInfo);
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: var(--distance);
  }
}

#path-svg {
  position: absolute;
  z-index: -1;
}

.hikers .hiker.flip {
  offset-rotate: 180deg auto;
  content: var(--flipUrl);
}

.hikers .hiker:hover {
  opacity: 0.2;
}

.hikers .hiker.rewind {
  animation: rewind 3000ms linear;
  animation-fill-mode: forwards;
}

@keyframes rewind {
  0% {
    offset-distance: var(--distance);
  }
  100% {
    offset-distance: 0%;
  }
}