@font-face {
  font-family: Lumberjack;
  src: url('../fonts/Lumberjack.otf');
}

body {
  font-family: Lumberjack;
  color: white;
  background-image: url(../images/campground-blurred.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100dvh;
}

.nav {
  text-align: center;
}

.logo {
  width: 150px;
}

.team-container {
  margin-top: 15px;
  font-size: 30px;
  padding: 0 20px;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.team {
  display: flex;
}

.team img {
  max-width: 200px;
  cursor: pointer;
  transition: transform 0.25s;
}

.team img:hover, .back-arrow a:hover {
  transform: scale(1.2);
}

.back-arrow a {
  font-size: 45px;
  position: fixed;
  color: white;
  text-decoration: none;
  transition: transform 0.25s;
  z-index: 1000;
  position: absolute;
}

.roasters {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.roaster {
  position: relative;
  z-index: 1;
  bottom: 0;
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: column;
}

.stick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.marshmallow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  background-image: url(../images/stick-segmant-3.png);
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
  background-position: center;
  padding-bottom: 78px;
  align-self: center;
}

.marshmallow img {
  width: 50px;
  margin: 10px 0;
}

.stick-top {
  width: 19px;
  height: 130px;
  align-self: center;
}

.name-sign {
  position: relative;
}

.name-sign img {
  max-width: 175px;
}

.name-sign span {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  text-align: center;
  color: #2D2419;
  font-weight: bold;
}